{% extends 'app/base2.html' %}
{% load static %}
{% block title %} Listar Usuarios {% endblock title %}
{% block contenido %}

<section>

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <table class="table table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>RUN</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>CONTRASEÑA</th>
                                <th>CORREO</th>
                                <th>REGION</th>
                                <th>COMUNA</th>
                                <th>DIRECCION</th>
                                <th>TIPO</th>
                                <th>IMAGEN</th>
                                <th>FECHA CREACION</th>
                                <th>FECHA MODIFICACION</th>
                                <th>OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aux in listarClientes %}
                            <tr>
                                <td>{{ aux.run }}</td>
                                <input type="hidden" name="run" id="run" value="{{ aux.run }}">
                                <td>{{ aux.nombre }}</td>
                                <td>{{ aux.apellido }}</td>
                                <td>{{ aux.clave }}</td>
                                <td>{{ aux.correo }}</td>
                                <td>{{ aux.region }}</td>
                                <td>{{ aux.comuna }}</td>
                                <td>{{ aux.direccion }}</td>
                                <td>{{ aux.tipo }}</td>
                                <td><img src="{{ aux.imagen.url }}" alt="" style="width: 80px;"></td>
                                <td>{{ aux.created_at }}</td>
                                <td>{{ aux.updated_at }}</td>
                                
                                <td>    
                                    <div class="" style="text-align: center;">
                                        <a href="{% url 'modificar_usuarios' aux.run %}" class="btn btn-warning suavizado" style="width: 40px !important; margin-bottom: 5px; border-radius: 50% !important;"><i class="fa-solid fa-file-pen"></i></a>
                                        <a style="border-radius: 50% !important;" class="btn btn-danger suavizado" onclick="confirmacionUser('{{ aux.run }}')"><i class="fa-solid fa-trash-can"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    </section>



{% endblock %}